.wrapper {
  margin-bottom: 1rem;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #EEEEEE;
  border-radius: 0.25rem;
  background-color: #EEEEEE;
  transition: 200ms;
}

.input:hover,
.input:focus {
  outline: none;
  border-color: #FFBB11;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 3px #FFEEAA;
}

.error {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: #FF3311;
}